* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: rgb(255, 248, 170);
  background: linear-gradient(0deg, rgba(255, 248, 170, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navImg {
  height: 20vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}


ul {
  padding-left: 35px;
  padding-top: 5px;
}

.left {
  height: 100vh;
  width: 40%;
  /* background-color: red; */
}

.leftImg {
  width: 30vw;
  height: 100%;
}

.right {
  padding: 5px 10px;
  height: 100vh;
  width: 60%;
  /* background-color: blue; */
}

.rightImg {
  height: 70vh;
  width: 100%;
  object-fit: contain;
  margin: 0;
}

.insatlledLine {
  padding: 20px;
}

.lastImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastImg {
  width: 80%;
}

.line hr {
  border-top: 1.5px solid red;
}

.lastContent {
  padding: 10px;
  text-align: center;
}

.lastContent p span {
  color: red;
  font-weight: 900;
}

.lastContent h4 {
  padding-top: 10px;
}

.lastContent p {
  padding: 20px;
}

footer {
  background-color: red;
  padding: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

h5 {
  text-align: center;
  padding: 10px;
}

footer i {
  cursor: pointer;
  color: white;
}

footer i span {
  padding: 0 5px;
}
.lastContent p{
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 17px;
}

@media screen and (max-width: 1024px) {
  /* .content {
    flex-direction: column;
  } */

  .content h4,
  p {
    font-size: 0.7rem;
  }
  .content{
    height: 460px;
  }

  img {
    height: 30px;
  }
  .leftImg {
    width: 40vw;
    height: 80%;
    object-fit: contain;
  }
  .right{
    padding-bottom: 7px;
  }
  .right h4,li{
    font-size: 0.7rem;
  }
  .rightImg{
    height: 50vh;
  }
  .insatlledLine{
    padding-top: 0;
  }
  .lastImg{
    height: 150px;
    width: 80%;
  }
  .insatlledLine span{
    font-size: 0.8rem;
  }
  .lastContent p{
    font-size: 0.65rem;
    letter-spacing: 1px;
    line-height: 15px;
  }
  .pTag p{
    font-size: 0.9rem;
  }
}
@media (max-width:768px) {
  .content h4,
  p {
    font-size: 0.5rem;
  }
  .content{
    height: 320px;
  }
  .navImg{
    height: 70px;
  }
  
  .leftImg {
    width: 40vw;
    height: 50%;
    object-fit: contain;
  }
  .right{
    padding-bottom: 7px;
  }
  .right h4,li{
    font-size: 0.6rem;
  }
  .rightImg{
    height: 30vh;
  }
  .insatlledLine{
    padding-top: 0;
  }
  .lastImg{
    height: 110px;
    width: 80%;
  }
  .insatlledLine span{
    font-size: 0.75rem;
  }
  .lastContent p{
    font-size: 0.65rem;
    letter-spacing: 1px;
    line-height: 15px;
  }

  footer span{
      font-size: 0.7rem;
  }
  .pTag p{
    font-size: 0.7rem;
  }
  
}

@media (max-width:320px) {
  .content h4,
  p {
    font-size: 0.45rem;
  }
  .content{
    height: 300px;
  }
  .navImg{
    height: 60px;
  }
  
  .leftImg {
    width: 40vw;
    height: 60%;
    object-fit: contain;
  }
  .right{
    padding-bottom: 7px;
  }
  .right h4,li{
    font-size: 0.5rem;
  }
  .rightImg{
    height: 20vh;
  }
  .insatlledLine{
    padding-top: 0;
  }
  .lastImg{
    height: 100px;
    width: 80%;
  }
  .insatlledLine span{
    font-size: 0.56rem;
  }
  .lastContent p{
    font-size: 0.55rem;
    letter-spacing: 1px;
    line-height: 15px;
  }
  .lastContent h4{
    font-size: 0.7rem;
  }

  footer span,i{
      font-size: 0.5rem;
  }
  .pTag p{
    font-size: 0.6rem;
  }
}
@media (max-width:480px) {
  .content h4,
  p {
    font-size: 0.55rem;
  }
  .content{
    height: 350px;
  }
  .navImg{
    height: 60px;
  }
  
  .leftImg {
    width: 40vw;
    height: 40%;
    object-fit: contain;
  }
  .right{
    padding-bottom: 7px;
  }
  .right h4,li{
    font-size: 0.5rem;
  }
  .rightImg{
    height: 20vh;
  }
  .insatlledLine{
    padding-top: 0;
  }
  .lastImg{
    height: 100px;
    width: 80%;
  }
  .insatlledLine span{
    font-size: 0.56rem;
  }
  .lastContent p{
    font-size: 0.55rem;
    letter-spacing: 1px;
    line-height: 15px;
  }
  .lastContent h4{
    font-size: 0.7rem;
  }

  footer span,i{
      font-size: 0.5rem;
  }
  .pTag p{
    font-size: 0.6rem;
  }
}